* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #e3ece8;
}

.container {
    background-color:#e7e7e7;
    border-radius: 20px;
    -webkit-box-shadow: 5px 1px 10px 5px rgba(0,0,0,0.12); 
    box-shadow: 5px 1px 10px 5px rgba(0,0,0,0.12);
}

#header-container {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    min-height:80px;
    padding:8px;
    width: 850px;
}

#app-title {
    margin: auto;
}

#body-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    min-height:80px;
    padding:8px;
    width: 1000px;
}

#form-container {
    margin: 20px;
    min-height: 220px;
    min-width: 300px;
    padding: 15px;
}

.example {
    font-size: 16px;
    font-style: italic;
}

#message-div {
    color: #ff0000;
    margin-bottom: -8px;
    min-height: 18px;
}

#search-button {
    border-radius: 5px;
    float: right;
    margin: 0px 20px;
    min-height: 25px;
    min-width: 70px;
}

#search-button {
    cursor: pointer;
}

#input-phone {
    border-radius: 5px;
    border: 0px;
    margin-bottom: 3px; 
    margin-top: 5px;
    min-height: 20px;
    min-width: 255px;
    padding: 5px;    
}

#results-container {
    margin: 20px;
    min-height: 220px;
    min-width: 600px;
    padding: 15px;
}

.label {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 115px;
}