* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #e3ece8;
}

.container {
    background-color:#e7e7e7;
    border-radius: 20px;
    -webkit-box-shadow: 5px 1px 10px 5px rgba(0,0,0,0.12); 
    box-shadow: 5px 1px 10px 5px rgba(0,0,0,0.12);
}

#header-container {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    min-height:80px;
    padding:8px;
    width: 850px;
}

#app-title {
    margin: auto;
}

#body-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    min-height:80px;
    padding:8px;
    width: 1000px;
}

#form-container {
    margin: 20px;
    max-width: 300px;
    min-height: 220px;
    min-width: 300px;
    padding: 15px;
}

.example {
    font-size: 16px;
    font-style: italic;
}

#message-div {
    color: #ff0000;
    height: 54px;
}

#button-container {
    position: relative;
    left: 6px;
    top: 0px;
}

.app-button {
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 2px;
    min-height: 25px;
    min-width: 70px;
    padding: 4px;
}

.app-button:active {
    background-color: #e7e7e7;
    transition: scale(0.8);
}

#input-phone {
    border-radius: 5px;
    border: 0px;
    margin-bottom: 3px; 
    margin-top: 5px;
    min-height: 20px;
    min-width: 255px;
    padding: 5px;    
}

#results-container {
    margin: 20px;
    min-height: 220px;
    min-width: 600px;
    padding: 15px;
}

.label {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 115px;
}

/* Modal */
#modal-overlay {
    background-color: rgba(0, 0, 0, 0.2) ;
    display: none;
    height: 100%;
    left: 0px;
    overflow: auto;
    padding: 100px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

#modal-content {
    background-color:#e7e7e7;
    border: 1px solid;
    border-radius: 20px;
    -webkit-box-shadow: 5px 1px 10px 5px rgba(0,0,0,0.12); 
    box-shadow: 5px 1px 10px 5px rgba(0,0,0,0.12);
    margin: auto;
    padding: 0px;
    position: relative;
    width: 45%;
}

#modal-close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modal-close:hover {
    color: #000000;
    cursor: pointer;
}

#modal-header {
    margin: 20px;
}

#modal-body {
    margin: 10px;
    padding: 2px 16px;
}

#confirm-create-modify-button {
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
}

#modal-number {
    margin-bottom: 10px;
    margin-top: -20px;
}

.input-field {
    border-radius: 5px;
    border: 0px;
    margin-bottom: 3px; 
    margin-top: 5px;
    min-height: 20px;
    min-width: 255px;
    padding: 5px;    
}